## Install python packages

In [ ]:
%%bash

pip3 install pandas matplotlib

## Install the custom pyspark package

In [ ]:
%%bash
./install-pyspark.sh

## Create the DB users

In [ ]:
%%bash

export PGPASSWORD=postgres

create_db() {
cat <<EOF
        create user $1 with password '$1';
        create database $1;
        grant all privileges on database $1 to $1;
        \c $1 postgres
        grant all on schema public to $1;
EOF
}

dbnames=(lsqb snap tpcds tpch)

psql --host=postgres --username postgres --dbname postgres <<-EOSQL
        $(create_db lsqb)
        $(create_db snap)
        $(create_db tpcds)
        $(create_db tpch)
        $(create_db imdb)
        $(create_db stats)
        $(create_db hetio)
EOSQL

## Fetch LSQB data

In [ ]:
%%bash
cd lsqb
export MAX_SF=300
./scripts/download-merged-fk-data-sets.sh
cd ..

## Import the LSQB benchmark data

In [ ]:
%%bash
export SF=300
./import-lsqb.sh

## Fetch the SNAP data

In [ ]:
%%bash

datasets=("http://snap.stanford.edu/data/cit-Patents.txt.gz"
          "http://snap.stanford.edu/data/wiki-topcats.txt.gz"
          "http://snap.stanford.edu/data/web-Google.txt.gz"
          "http://snap.stanford.edu/data/bigdata/communities/com-dblp.ungraph.txt.gz")

cd snap

for d in ${datasets[*]}; do
    if [ ! -f $(basename $d) ]; then
        curl -O $d;
        gunzip $(basename $d)
    else
        echo "$(basename $d) exists"
    fi
done

./remove-header.sh

cd ..

## Import the SNAP data

In [ ]:
%%writefile import-snap.sql

DROP TABLE IF EXISTS patents;
CREATE TABLE patents (fromNode integer, toNode integer);
\copy patents FROM 'snap/noheader/cit-Patents.txt' with (header false);

DROP TABLE IF EXISTS wiki;
CREATE TABLE wiki (fromNode integer, toNode integer);
\copy wiki FROM 'snap/noheader/wiki-topcats.txt' with (header false, delimiter ' ');

DROP TABLE IF EXISTS google;
CREATE TABLE google (fromNode integer, toNode integer);
\copy google FROM 'snap/noheader/web-Google.txt' with (header false);

DROP TABLE IF EXISTS dblp;
CREATE TABLE dblp (fromNode integer, toNode integer);
\copy dblp FROM 'snap/noheader/com-dblp.ungraph.txt' with (header false);

In [ ]:
%%bash

PGPASSWORD=snap psql -h postgres -U snap -d snap -f import-snap.sql

## Generate SNAP queries

In [ ]:
import glob
from pathlib import Path

snap_tables = ['patents', 'wiki', 'google', 'dblp']

Path(f'snap-queries/all').mkdir(parents=True, exist_ok=True)
for tablename in snap_tables:
    Path(f'snap-queries/{tablename}').mkdir(parents=True, exist_ok=True)
    # We use the patent queries as the base and replace the references to the patent relation
    base_query_files = glob.glob('snap-queries/patents/*.sql')
    for file in base_query_files:
        query = Path(file).read_text()
        basename = Path(file).name
        new_query = query.replace('patents', tablename)
        with open(f'snap-queries/{tablename}/{basename}', 'w') as new_file:
            new_file.write(new_query)
        with open(f'snap-queries/all/{tablename}-{basename}', 'w') as new_file:
            new_file.write(new_query)

## Generate the TPC-H data

In [ ]:
%%bash

export SF=200

cd tpch-kit/dbgen

## dbgen binary should be included, otherwise
# make

yes y | ./dbgen -s $SF

mkdir -p data-$SF

mv *.tbl data-$SF/

cd ../..

## Import the TPC-H data

In [ ]:
%%bash

export SF=200

PGPASSWORD=tpch psql -h postgres -U tpch -f tpch-create.sql

tables=$( ls tpch-kit/dbgen/data-$SF/*.tbl | xargs -n 1 basename | sed 's/.tbl$//')

for t in $tables; do
        PGPASSWORD=tpch psql -h postgres -U tpch -c "\copy $t from 'tpch-kit/dbgen/data-$SF/${t}.tbl' DELIMITER '|';"
done

## Generate the TPC-DS data

In [ ]:
%%bash

export SF=50

cd tpcds-kit/tools

./dsdgen -SCALE $SF -TERMINATE N

mkdir -p data-$SF

mv *.dat data-$SF/

cd ../..

In [ ]:
%%bash

export SF=50

cd tpcds-kit/tools/data-$SF

mkdir -p withnull
for file in *.dat; do
	cat $file | sed 's/||/|\\N|/g' | sed 's/||/|\\N|/g' | sed 's/|$/|\\N/g' | sed 's/^|/\\N|/g' > withnull/$file
done

mv withnull/* ./

cd ../../..

In [ ]:
%%bash

export SF=50

PGPASSWORD=tpcds psql -U tpcds -h 127.0.0.1 -f dsb-create.sql

tables=$( ls tpcds-kit/tools/data-$SF/*.dat | xargs -n 1 basename | sed 's/.dat$//')

for t in $tables; do
        PGPASSWORD=tpcds psql -h 127.0.0.1 -U tpcds -c "\copy $t from 'tpcds-kit/tools/data-$SF/${t}.dat' DELIMITER '|';"
done

## Fetch and import the JOB data

In [ ]:
%%bash
pip3 install psycopg2-binary

In [ ]:
%%bash

cd job/cinemagoer
mkdir -p data
cd data

if [ ! -f 'actors.list.gz' ]; then
  wget -q ftp://ftp.fu-berlin.de/misc/movies/database/frozendata/*gz
fi

In [ ]:
%%bash

cd job/cinemagoer

#if [ ! -f 'imdbpy2sql.py' ]; then
#  wget https://raw.githubusercontent.com/cinemagoer/cinemagoer/master/bin/imdbpy2sql.py
#fi

# As a workaround, since the newest versions of sqlalchemy are not supported, the requirements.txt are modified
pip3 install -r requirements.txt

python3 imdbpy2sql.py -d data -u postgresql://imdb:imdb@postgres/imdb

## Save the JOB / IMDB data

This step is optional but recommended as importing the data using imdbpy takes several hours

In [ ]:
%%bash

# We have to use the pg_dump version from the postgres-16 image that corresponds to the container's postgres version
PGPASSWORD=imdb ./pg_dump -h postgres -U imdb -d imdb > job/export.sql
#tar -czf export.sql.tar.gz export.sql

## Import the JOB / IMDB data

In [ ]:
%%bash

cd job
#tar -xzf export.sql.tar.gz
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb -f export.sql

## Import the STATS dataset

In [ ]:
%%bash

cd stats
PGPASSWORD=stats psql -h postgres -U stats -d stats -f datasets/stats_simplified/stats.sql
PGPASSWORD=stats psql -h postgres -U stats -d stats -f scripts/sql/stats_load.sql

## Generate the STATS queries

Some small errors in the names of the foreign keys are fixed (from https://arxiv.org/pdf/2109.05877.pdf)

In [ ]:
import re
from pathlib import Path

query_file = Path('stats/workloads/stats_CEB/stats_CEB.sql').read_text()
queries = []
for i, row in enumerate(query_file.split('\n')):
    count = int(row.split('||')[0])
    query = row.split('||')[1]

    p = re.compile("('\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}')::timestamp")
    query_replaced = p.sub(lambda match: f'CAST({match.group(1)} AS TIMESTAMP)', query)
    queries.append((i, count, query_replaced))

queries.sort(key=lambda t: t[1])

hints = [('FK(t.ExcerptPostId, p.Id)', ['t', 'p']),
        ('FK(pl.PostId, p.Id)', ['pl', 'p']),
        ('FK(pl.RelatedPostId, p.Id)', ['pl', 'p']),
        ('FK(c.PostId, p.Id)', ['c', 'p']),
        ('FK(ph.PostId, p.Id)', ['ph', 'p']),
        ('FK(v.PostId, p.Id)', ['v', 'p']),
        ('FK(p.OwnerUserId, u.Id)', ['p', 'u']),
        ('FK(c.UserId, u.Id)', ['c', 'u']),
        ('FK(ph.UserId, u.Id)', ['ph', 'u']),
        ('FK(b.UserId, u.Id)', ['b', 'u']),
        ('FK(v.UserId, u.Id)', ['v', 'u'])]

for i, (idx, count, query_replaced) in enumerate(queries):
    with open(f'stats-queries/{i+1:03}-{idx+1:03}.sql', 'w') as f:
        f.write(query_replaced)
    with open(f'stats-queries/hints/{i+1:03}-{idx+1:03}-hint.sql', 'w') as f:
        applicable_hints = list(map(lambda h: h[0],
                               list(filter(lambda h: re.search('as {rname}( |,)'.format(rname=h[1][0]), query_replaced) is not None
                                           and re.search('as {rname}( |,)'.format(rname=h[1][1]), query_replaced) is not None, hints))))
        if (len(applicable_hints) > 0):
            query_hints = query_replaced.replace('SELECT', f'SELECT /*+ {",".join(applicable_hints)} */ ')
            f.write(query_hints)
        else:
            f.write(query_replaced)

## Import hetionet

In [ ]:
%%bash
rm hetionet-v1.0.json.bz2
wget https://github.com/hetio/hetionet/raw/main/hetnet/json/hetionet-v1.0.json.bz2

In [ ]:
import json
import bz2

with bz2.open("hetionet-v1.0.json.bz2", 'r') as f:
    hetiojson = json.load(f)

list(hetiojson.keys())

nodes = hetiojson['nodes']
edges = hetiojson['edges']

node_rels = {}

for n in nodes:
    rel = n['kind'].replace(' ', '_')
    id = n['identifier']
    name = n['name']

    if rel not in node_rels:
        node_rels[rel] = []
    
    node_rels[rel].append((id, name))

node_rels.keys()

edge_rels = {}

for e in edges:
    erel = e['kind']
    source = e['source_id'][1]
    target = e['target_id'][1]
    direction = e['direction']

    if erel not in edge_rels:
        edge_rels[erel] = []

    if direction == 'both':
        edge_rels[erel].append((source, target))
        edge_rels[erel].append((target, source))
    elif direction == 'forward':
        edge_rels[erel].append((source, target))
    else:
        print(f'unknown direction {direction}, canceling!')
        break
        
for k in edge_rels.keys():
    print(k, len(edge_rels[k]))

In [ ]:
%%bash
pip3 install psycopg2-binary

In [ ]:
import psycopg2 as pg
from psycopg2 import sql

conn = pg.connect("host=postgres dbname=hetio user=hetio password=hetio")
cur = conn.cursor()

In [ ]:
try:
    for k in node_rels.keys():
        s = sql.SQL('CREATE TABLE IF NOT EXISTS {} (nid varchar(64) primary key, name text)').format(sql.Identifier(k.lower()))
        cur.execute(s)
        for v in node_rels[k]:
            cur.execute(sql.SQL('INSERT INTO {} VALUES (%s,%s);').format(sql.Identifier(k.lower())), v)
    conn.commit()
except Exception as e:
    print(e)
    print('Failed')
    conn.rollback()

In [ ]:
try:
    for k in edge_rels.keys():
        print(k)
        s = sql.SQL('CREATE TABLE IF NOT EXISTS {} (sid varchar(64), tid varchar(64))').format(sql.Identifier(k))
        print(s)
        cur.execute(s)
        for e in edge_rels[k]:
            cur.execute(sql.SQL('INSERT INTO {} VALUES (%s,%s);').format(sql.Identifier(k)), e)
        conn.commit()
except Exception as e:
    print(e)
    print('Failed')
    conn.rollback()